{% include "_header.html" %}



<main>
    <form mix-post="/api-create-user" autocomplete="off">
        <input name="user_first_name" type="text" placeholder="User first name" value="Adam">
        <input name="user_last_name" type="text" placeholder="User last name" value="Lindblad">
        <input name="user_email" type="text" placeholder="User email">
        <input name="user_password" type="text" placeholder="User password">
        <button>Sign up</button>


    </form>
</main>






{% include "_footer.html" %}